<!doctype html>
<html>
  <head>
    <title>Delete user for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Delete user for <%=shopName%></h1>
    <form method="POST" action="/deleteresult">
        <p>Username: <input id="username" type="text" name="username" value="" /></p>
        <input type="submit" value="Delete" />
      </form>
      <p><a href="/">Home</a></p>
  </body>
</html>