<!doctype html>
<html>
  <head>
    <title>Login for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Login for <%=shopName%></h1>
    <form method="POST" action="/loggedin">
        <p>Username: <input id="username" type="username" name="username" value="" /></p>
        <p>Password: <input id="password" type="password" name="password" value="" /></p>
        <input type="submit" value="Login" />
      </form>
      <p><a href="/">Home</a></p>
  </body>
</html>